<!DOCTYPE html>
<html>
<head>
  <title>MyChaims</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "laza-favicon.png" %>
</head>
<body>
<%= image_tag "my-chaims.jpg", id: "front-sign" %>
  <div class="all">
    <div class="container hidden">
      <%= yield %>
    </div>
  </div>

</body>
</html>
